div {
    color: #fff;
    font-family: var(--font-family);
}

.booking-container {
    height: auto;
}

.booking-container__movie-cover {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}

.booking-container__movie-cover__gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 12, 24, 1);
    opacity: 0.8;
}

.booking-container__movie-cover__poster {
    position: absolute;
    top: 6rem;
    left: 8rem;
    width: 12rem;
    height: 16rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 15px rgb(80, 80, 80);
    border-radius: 20px;
}

.booking-container__movie-cover__content {
    position: absolute;
    top: 6rem;
    left: 25rem;
    right: 5rem;
    width: 50rem;
    height: 16rem;
}

.booking-container__movie-cover__title {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
}

.booking-container__movie-cover__duration {
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
}

.booking-container__movie-cover__genres {
    margin-bottom: 2rem;
}

.booking-container__movie-cover__genres__item {
    margin-left: 0.5rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
    border-radius: 30px;
}

.booking-container__movie-cover__overview {
    margin-bottom: 2rem;
}

.booking-container__movie-cover__view-more {
    color: red;
    font-size: 0.8rem;
    font-style: italic;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0.5rem;
}