.login {
    display: flex;
    align-items: center;
    color: #fff;
}

.login p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1.5rem;
    cursor: pointer;
    transition: opacity 0.2 ease;
}

.login p:hover {
    opacity: 0.8;
}