.moviekeyword-container {
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
}

.film__container {
    width: 100%;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
}

.film__container__header {
    width: 100%;
    margin-bottom: 1rem;
}

.film__container__header__title {
    color: #fff;
    /* text-transform: uppercase; */
    display: inline;
    text-align: left;
    margin-bottom: 2rem;
    width: 200px;
    font-size: 1.1rem;
    font-family: var(--font-family);
}

.film__container__content {}

.film__item__container {
    width: 120px;
    height: 230px;
    /* background-color: transparent;
    position: relative;*/
    margin-bottom: 10px;
}

.film__item__container:hover .film__item__container__title {
    font-weight: bold;
}

.film__item__container__hoverItem {
    position: absolute;
    top: 0;
    height: 80%;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    background-image: linear-gradient(transparent, black 70%);
    text-align: center;
    display: block;
    opacity: 0;
    transition: opacity 0.5 ease;
}

.film__item__container__hoverItem__buyTicketBtn {
    color: #fff;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    background-color: #ff4820;
    border: 1px solid transparent;
    padding: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 70%;
    height: 15%;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.2 ease;
}

.film__item__container__hoverItem__buyTicketBtn:hover {
    box-shadow: 1px 1px 10px #FF4820;
}

.film__item__container__img {
    width: 100%;
    height: 80%;
    background-position: center center;
    background-size: cover;
    border-radius: 25px;
    cursor: pointer;
}

.film__item__container__title {
    color: white;
    padding: 10px;
    font-family: var(--font-family);
    align-items: center;
    display: inline-block;
    font-size: 0.8rem;
    cursor: pointer;
}

.film__container__header__title:hover {
    font-weight: bold;
}

.film__container__view-more-content {
    align-items: center;
}

.film__container__view-more-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-gap: 20px;
    margin-bottom: 1.5rem;
}

.film__container__content__viewMore {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.search-bar {
    background: transparent;
    display: flex;
    justify-self: flex-start;
}

.filter-type {
    display: flex;
    justify-self: flex-start;
    background-color: transparent;
    margin-top: 30px;
}