div {
    font-family: var(--font-family);
    color: white;
}

.clear {
    clear: both;
}

.line {
    height: 1px;
    background-color: red;
    margin-top: 5px;
    margin-bottom: 30px;
}

.profile__background {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.profile {
    margin-top: 8rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    margin-right: 350px;
}

.profile-container {
    margin: 3rem;
    margin-top: -5rem;
    margin-bottom: 0.5rem;
}

.profile-information {
    width: 77%;
    padding: 2rem;
    padding-bottom: 1rem;
}

.password-information {
    width: 70%;
    padding: 2rem;
    padding-top: 1rem;
    margin: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.profile-information__title,
.password-information__title {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}

.profile-pic {
    width: 40%;
    float: left;
    margin-top: 10rem;
}

.profile-pic__img {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
    display: flex;
    margin: auto auto;
}

.profile-pic__note {
    color: rgba(255, 255, 255, 0.445);
    font-style: italic;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.profile-information__item,
.password-information__item {
    padding: 20px 0px;
    /* display: flex; */
}

.profile-information__item__title,
.password-information__item__title {
    font-size: 0.8rem;
    width: 30%;
    line-height: 100%;
    padding-top: 15px;
    color: rgb(196, 196, 196);
    font-weight: 200;
    float: left;
}

.profile-information__item__content,
.password-information__item__txtfield {
    width: 70%;
}

.profile-information__item__note,
.password-information__item__note {
    margin-top: 10px;
    margin-left: 30%;
}

.profile-information__btnSave,
.password-information__btnChange {
    width: 15rem;
}

.profile-pic__btnChange {
    width: 5rem;
    height: 2rem;
}

.background__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.color__gradient {
    /* ff 3.6+ */
    background: -moz-linear-gradient(66deg, rgba(4, 12, 24, 1) 57%, rgba(4, 12, 24, 0.52) 78%, rgba(255, 255, 255, 0) 100%);
    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(66deg, rgba(4, 12, 24, 1) 57%, rgba(4, 12, 24, 0.52) 78%, rgba(255, 255, 255, 0) 100%);
    /* opera 11.10+ */
    background: -o-linear-gradient(66deg, rgba(4, 12, 24, 1) 57%, rgba(4, 12, 24, 0.52) 78%, rgba(255, 255, 255, 0) 100%);
    /* ie 6-9 */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#040C18', GradientType=0);
    /* ie 10+ */
    background: -ms-linear-gradient(66deg, rgba(4, 12, 24, 1) 57%, rgba(4, 12, 24, 0.52) 78%, rgba(255, 255, 255, 0) 100%);
    /* global 94%+ browsers support */
    background: linear-gradient(66deg, rgba(4, 12, 24, 1) 57%, rgba(4, 12, 24, 0.52) 78%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.profile__container {
    width: 100%;
    height: 85rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

.profile-pic {
    margin-top: 8rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    margin-left: 450px;
}

.profile-pic__img {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
    display: flex;
    margin: auto auto;
    background-color: #fff
}

.profile-pic__note {
    color: rgba(255, 255, 255, 0.445);
    font-style: italic;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}