.report-analysis__container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter {
    display: flex;
    align-items: flex-start;
    height: fit-content;
    width: 50%;
}

.chart {
    width: 40%;
}