div {
    font-family: var(--font-family);
}

.film-details {
    position: relative;
}

.banner {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.9) -100px -200px 70px -10px inset;
}

.movie-content {
    display: flex;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;
    height: 50%;
}

.movie-content__poster {
    height: 25rem;
    width: 18rem;
}

.movie-content__poster__img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 18rem;
    height: 25rem;
    box-shadow: 3px 3px 15px rgb(80, 80, 80);
}

.movie-content__info {
    margin-left: 2rem;
    color: white;
    width: fit-content;
}

.movie-content__info__title {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
}

.movie-content__info__duration {
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
}

.movie-content__info__genres {
    margin-bottom: 2rem;
}

.movie-content__info__overview {
    margin-bottom: 2rem;
}

.movie-content__info__title {
    margin-bottom: 2rem;
}

.movie-content__info__genres__item {
    margin-left: 0.5rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    font-size: 0.8rem;
    color: white;
    font-weight: 600;
    border-radius: 30px;
}

.movie-content__info__cast {}

.movie-content__booking {
    padding-top: 2.5rem;
}