.chatbot__container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    font-family: 'Roboto', sans-serif;
}

.form__container {
    height: 600px;
    width: 400px;
    background-color: #fff;
    border-radius: 25px;
}

.form__header {
    height: 10%;
    width: 100%;
    background-color: #353535;
    border-radius: 20px 20px 0px 0px;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__header__bot {
    display: flex;
    align-items: center;
}

.form__header__bot p {
    margin-left: 5px;
}

.form__messList {
    height: 78%;
    margin: 5px;
    overflow-y: scroll;
}

.form__messList__item {
    display: flex;
    margin: 5px 0;
}

.form__messList__item__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #272727;
    margin-left: 3px;
    font-size: 12px;
}

.form__messList__item__message {
    background-color: #ff4f28;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fff;
    padding: 6px 13px;
    border-radius: 10px;
    font-size: 15px;
    max-width: 250px;
    letter-spacing: 1px;
}

.form__messList__item__text--right {
    align-items: flex-end;
    margin-right: 10px;
}

.form__messList__item__message--right {
    background-color: #ffbeb8;
    color: #272727;
}

.form__sendBox {
    height: 12%;
    box-sizing: border-box;
    width: 100%;
}