.slide__container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.slide__item {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

.slide__item__contain {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
}

.slide__item__content__info {
    margin-right: 100px;
    font-family: var(--font-family);
    color: white;
    width: 50%;
    font-weight: bold;
}

.slide__item__content__info h2 {
    font-size: 60px;
    /* text-shadow: 1px 1px 10px #FFF */
}

.slider__item__content__poster {
    display: flex;
    height: 30rem;
    width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: 3px 3px 15px rgb(51, 51, 51);
}

.slide__item__content__info__button {
    display: flex;
    margin-top: 20PX;
}

.slide__item__content__info__button__bookTicket {
    padding: 0.5rem 4rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    transition: box-shadow 0.2 ease;
}

.slide__item__content__info__button__bookTicket:hover {
    box-shadow: 1px 1px 15px #FF4820;
}

.slide__item__content__info__button__trailer {
    padding: 0.5rem 4rem;
    color: #FFF;
    background-color: rgb(255, 255, 255, 0.3);
    font-family: var(--font-family);
    font-weight: 1000;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid #FFF;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 20px;
    transition: background-color 0.2 ease;
}

.slide__item__content__info__button__trailer:hover {
    background-color: #fff;
    color: #FF4820;
}

@media screen and (max-width: 1350px) {
    .slider__item__content__poster {
        display: none;
    }
}

@media screen and (max-width: 1140px) {
    .slide__item__content__info__button__bookTicket {
        font-size: 12px;
        padding: 0.2rem 2rem;
    }
    .slide__item__content__info__button__trailer {
        font-size: 12px;
        padding: 0.2rem 2rem;
    }
}

@media screen and (max-width: 900px) {
    .slide__item__content__info {
        width: 100%;
        margin-left: 50px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 650px) {
    .slide__item__content__info__overview {
        display: none;
    }
}