.container {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 3;
    padding: 45px 70px;
    justify-content: space-between;
    color: #fff;


    .nav-text {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }

    .nav-text p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;
        margin: 0 1.5rem;
        cursor: pointer;
        transition: opacity 0.2 ease;
    }

    .nav-text img {
        height: 35px;
        width: 35px;
    }

    .nav-text p:hover {
        opacity: 0.8;
    }

    .login {
        display: flex;
        align-items: center;
    }

    .login p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;
        margin: 0 2rem;
        cursor: pointer;
        transition: opacity 0.2 ease;
    }

    .login p:hover {
        opacity: 0.7;
    }
}