.people-container{

}

.people-filter{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 75px;
    width: 100%;
    text-align: center;
}

.people-search-bar{
    /* background: var(--color-bg); */
    background: transparent;
}

.people__container{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

}

.people__container__content{
}

.people__container__view-more-content{
    align-items: center;
    
}

.people__container__view-more-content-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    margin-bottom: 3rem;
    width: 100%;
}

.people__container__content__viewMore{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.people__item__container{

}

.people__item__container:hover .people__item__container__img{
    box-shadow: 1px 1px 10px #ffffff;
}


.people__item__container__img{
    height: 80%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    cursor: pointer;
}

.people__item__container__name{
    color: white;
    padding: 10px;
    font-family: var(--font-family);
    align-items: center;
    display: inline-block;
    font-size: 0.8rem;
    cursor: pointer;
}

.people__item__container:hover .people__item__container__name {
    font-weight: bold;
}

.people__container__header__name:hover {
    font-weight: bold;
}