.menu-container{
    margin-top: 6rem;
    padding-left: 2rem;
}
.no-data{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
.trends-page-container{
    min-height: 100vh;
}
.trends-title{
    margin-top: 2rem;
    padding-left: 2rem;
    color: #f44336;
    font-weight: bold;
}