.typeOfFilm__container {
    width: 100%;
    display: block;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: auto;
}

.typeOfFilm__container__header {
    width: 100%;
    margin-bottom: 1rem;
}

.typeOfFilm__container__header__title {
    color: #fff;
    /* text-transform: uppercase; */
    display: inline;
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 2rem;
    width: 300px;
    font-size: 2rem;
    font-family: var(--font-family);
}

.typeOfFilm__container__content__viewMore {
    /* padding: 0.5rem 4rem;
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.014);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1rem;
    line-height: 20px;
    border: 1px solid #FFF;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.2 ease;
    position: absolute; */
    /* top: 0;
    right: 0; */
    float: right;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 8px;
    display: block;
    text-align: right;
    
}

.typeOfFilm__container__content__viewMore2{
        margin-top: -30px;
        text-align: center;
}

.typeOfFilm__container__content__viewMore:hover {
    /* background-color: #fff;
    color: black; */
}

.typeOfFilm__container__content {
    /* position: relative; */
}

.typeOfFilm__container__content__swiper {
    width: 100%;
    height: 100%;
}


/* .typeOfFilm__container__content__prev, .typeOfFilm__container__content__next { 
     width: 30px;
    height: 55px;
    position: absolute;
    z-index: 2;
    top: 35%;
    border-radius: 40px;
    text-align: center; 
 }

 .typeOfFilm__container__content__prev:hover, .typeOfFilm__container__content__next:hover { 
    background-color: #ffe6e1;
    cursor: pointer;
 }
  .typeOfFilm__container__content__prev { 
   
}
 .typeOfFilm__container__content__next { 
    right: 5px; 
 } */

.typeOfFilm__item__container {
    width: 230px;
    height: 400px;
    background-color: transparent;
    position: relative;
}

.typeOfFilm__item__container:hover .typeOfFilm__item__container__hoverItem {
    opacity: 100%;
}

.typeOfFilm__item__container:hover .typeOfFilm__item__container__title {
    font-weight: bold;
}

.typeOfFilm__item__container__hoverItem {
    position: absolute;
    top: 0;
    height: 80%;
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    background-image: linear-gradient(transparent, black 70%);
    text-align: center;
    display: block;
    opacity: 0;
    transition: opacity 0.5 ease;
}

.typeOfFilm__item__container__hoverItem__buyTicketBtn {
    color: #fff;
    font-family: var(--font-family);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    background-color: #ff4820;
    border: 1px solid transparent;
    padding: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 70%;
    height: 15%;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.2 ease;
}

.typeOfFilm__item__container__hoverItem__buyTicketBtn:hover {
    box-shadow: 1px 1px 10px #FF4820;
}

.typeOfFilm__item__container__img {
    height: 80%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}

.typeOfFilm__item__container__title {
    color: white;
    padding: 10px;
    font-family: var(--font-family);
    align-items: center;
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
}

.typeOfFilm__container__header__title:hover {
    font-weight: bold;
}

.typeOfFilm__container__view-more-content{
    align-items: center;
}

.typeOfFilm__container__view-more-content-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 20px;
    margin-bottom: 3rem
}